<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% { %>
      <div class="form-box">
        <div class="form-container">
          <form id="loginForm" action="/inv/account/login" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="account_email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="account_password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <p class="register-link">No account? <a href="/inv/account/register">Sign-up</a></p>
        </div>
      </div>
    <% } %>