<div>
    <h1>Welcome to CSE Motors!</h1>
    <picture>
        <source media="(min-width:650px)" srcset="../public/images/vehicles/delorean.jpg">
        <source media="(min-width:465px)" srcset="../public/images/vehicles/delorean-tn.jpg">
        <img src="../public/images/vehicles/delorean.jpg" alt="delorean" class="picture-img">
    </picture>
    <div>
        <h4>DMC delorean</h4>
        <h5>3 Cup Holders</h5>
        <h5>Superman doors</h5>
        <h5>Fuzzy Disel </h5>

    </div>

</div>

