/******* Change Box Model ***************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.frame {
  background-image: url('../images/site/checkerboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.img-body {
  width: 100%;
  height: 400px;
  background-image: url('../images/vehicles/delorean.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: top;
}

.frame-card {
  margin:30px auto;
  max-width: 1180px;
  height: auto;
  background-color: white;
  border: 2px solid green;
  border-radius: 20px;
  padding: 0 1rem;
}

.container {
  width: 100%;
  height: auto;
}

.header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
}

.header-title span {
  margin: 50px 0 50px;
}

.header-title a {
  text-decoration: none;
}

.header-title span a {
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

.header-title div a {
  font-size: 1rem;
  font-weight: 800;
  color: black;
}

.white-box {
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: green;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20%;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.white-box h5 {
  margin: 2px;
}

.white-box .space-pad {
  padding: 1em;
}

.white-box {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.nav li a {
  font-size: 17px;
  color: #f2f2f2;
  text-decoration: none;
}

.nav li:hover {
  background-color: #ddd;
  color: black;
}

.nav li.active {
  background-color: green;
  color: white;
}

.block-services {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.button {
  width: 150px;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn1-img {
  background-image: url('../images/upgrades/flux-cap.png');
}
.btn2-img {
  background-image: url('../images/upgrades/flame.jpg');
}
.btn3-img {
  background-image: url('../images/upgrades/bumper_sticker.jpg');
}
.btn4-img {
  background-image: url('../images/upgrades/hub-cap.jpg');
}

.btn-img {
  width: 100px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: green;
  margin: 1em;
}

.btn-img span {
  display: block;
  margin-top: 5em;
  font-size: 0.8rem;
}

.png-box {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.line-h {
  line-height: 1.9;
}

@media only screen and (max-width: 900px) {
  .block-services {
    margin-top: 4rem;
  }
}

/* GRID CONTAINERS CLASIFICATION */

/* Estilos para el contenedor del grid */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  justify-content: center;
}

/* Estilos para cada ítem del grid */
.grid-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.333% - 20px); /* Tres ítems por fila con espacio */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 20px;
}

/* Estilo para la imagen del vehículo */
.vehicle-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilos para el nombre y el precio */
.namePrice {
  padding: 15px;
  text-align: center;
}

.namePrice h2 {
  margin: 10px 0;
  font-size: 1.2em;
}

.vehicle-price {
  display: block;
  font-size: 1.1em;
  color: #333;
}

.grid-item:hover {
  transform: scale(1.05);
}

/* Media Queries para estilos responsivos */

/* Tablets y dispositivos más pequeños */
@media (max-width: 768px) {
  .grid-item {
    width: calc(50% - 20px); /* Dos ítems por fila */
  }
}

/* Móviles y dispositivos más pequeños */
@media (max-width: 480px) {
  .grid-item {
    width: calc(100% - 20px); /* Un ítem por fila */
  }
}

/* CSS for Vehicle Details View */

/* Base styles for desktop and larger screens */
.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px;
  height: 80vh; /* Full viewport height */
  padding: 20px;
}

.vehicle-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicle-image img {
  max-width: 100%;
  height: auto;
}

.vehicle-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.vehicle-title {
  margin-bottom: 20px;
  font-size: 2em;
}

.vehicle-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vehicle-info li {
  margin-bottom: 10px;
  font-size: 1.2em;
  padding: 0px 5px;
}

.vehicle-price {
  height: 2.5em;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vehicle-color {
  height: 2.5em;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vehicle-price,
.vehicle-description,
.vehicle-color,
.vehicle-miles {
  margin-bottom: 10px;
}

/* Styles for tablets and small desktops */
@media (max-width: 1024px) {
  .details-container {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto; /* Two rows: image and info */
    height: auto; /* Auto height */
  }

  .vehicle-left, .vehicle-right {
    padding: 10px;
  }

  .vehicle-title {
    font-size: 1.8em;
  }

  .vehicle-info li {
    font-size: 1.1em;
  }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  .details-container {
    padding: 10px;
  }

  .vehicle-left, .vehicle-right {
    padding: 5px;
  }

  .vehicle-title {
    font-size: 1.5em;
    text-align: center;
  }

  .vehicle-info {
    padding-top: 10px;
  }

  .vehicle-info li {
    font-size: 1em;
  }

  .vehicle-price,
  .vehicle-description,
  .vehicle-color,
  .vehicle-mileage {
    margin-bottom: 5px;
  }
}

/* Styles for very small devices */
@media (max-width: 480px) {
  .vehicle-title {
    font-size: 1.2em;
  }

  .vehicle-info li {
    font-size: 0.9em;
  }
}

/* error mage */
.error-container {
  position: relative;  
  width: 100%;         
  height: calc(100vh - 100px);
  text-align: center;
  overflow: hidden;
}

.error-image {
  max-width: 100%;      
  max-height: 100%;     
  position: absolute;   
  top: 50%;             
  left: 50%;            
  transform: translate(-50%, -50%);
}

/* notice */
.notice {
  color: blue;
}

/* login form style */
.form-box, .form-register-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid green;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 1rem;
  color: #007bff;
}

.register-link a {
  color: inherit;
  text-decoration: none;
  font-size: large;
}

.register-link a:hover {
  text-decoration: underline;
}

/* register form style */
.register-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
}

.register-container .form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.register-container .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.register-container .form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.register-container button:hover {
  background-color: #0056b3;
}

#togglePassword {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 0.5rem;
  padding: 0;
}

.password-requirements {
  font-size: 0.875rem;
  color: #666;
  margin-top: 0.5rem;
}

.password-requirements::before {
  content: "* ";
  color: red;
}

.password-requirements {
  margin-top: 0.5rem;
}

.password-requirements p {
  margin: 0;
}

input:required:invalid, input:focus:invalid {
  /* background-image: url(/images/invalid.png); */
  background-position: right top;
  background-repeat: no-repeat;
 }
  input:required:valid {
  /* background-image: url(/images/valid.png); */
  background-position: right top;
  background-repeat: no-repeat;
  }

/* Contenedor del formulario */
#addInventoryForm {
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Estilos de etiquetas */
#addInventoryForm label {
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos de los inputs y textarea */
#addInventoryForm input,
#addInventoryForm textarea,
#addInventoryForm select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Ajustes para el textarea */
#addInventoryForm textarea {
  resize: vertical;
  min-height: 100px;
}

/* Botón de enviar */
#addInventoryForm button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
}

#addInventoryForm button:hover {
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 480px) {
  #addInventoryForm {
      max-width: 100%;
      padding: 15px;
  }
}
