/******* Change Box Model ***************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.frame {
  background-image: url('../images/site/checkerboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.img-body {
  width: 100%;
  height: 400px;
  background-image: url('../images/vehicles/delorean.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: top;
}

.frame-card {
  margin:30px auto;
  max-width: 1180px;
  height: auto;
  background-color: white;
  border: 2px solid green;
  border-radius: 20px;
  padding: 0 1rem;
}

.container {
  width: 100%;
  height: auto;
}

.header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
}

.header-title span {
  margin: 50px 0 50px;
}

.header-title a {
  text-decoration: none;
}

.header-title span a {
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

.header-title div a {
  font-size: 1rem;
  font-weight: 800;
  color: black;
}

.white-box {
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: green;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20%;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.white-box h5 {
  margin: 2px;
}

.white-box .space-pad {
  padding: 1em;
}

.white-box {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav li:hover {
  background-color: #ddd;
  color: black;
}

.nav li.active {
  background-color: green;
  color: white;
}

.block-services {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.button {
  width: 150px;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn1-img {
  background-image: url('../images/upgrades/flux-cap.png');
}
.btn2-img {
  background-image: url('../images/upgrades/flame.jpg');
}
.btn3-img {
  background-image: url('../images/upgrades/bumper_sticker.jpg');
}
.btn4-img {
  background-image: url('../images/upgrades/hub-cap.jpg');
}

.btn-img {
  width: 100px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: green;
  margin: 1em;
}

.btn-img span {
  display: block;
  margin-top: 5em;
  font-size: 0.8rem;
}

.png-box {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.line-h {
  line-height: 1.9;
}

@media only screen and (max-width: 900px) {
  .block-services {
    margin-top: 4rem;
  }
}