<%# Assignment 3, Basic error handling activity %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- message %>
<% if (title === 404) { %>
    <div class="error-container">
        <img class="error-image" src="/images/site/car-crash.jpg" alt="404 Not Found">
    </div>
  <% } %>
